<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="archivo" accept=".zip">
    <button type="submit">Subir archivo</button>
</form>

<!-- Opcional: Área para mostrar resultados -->
<div id="resultados"></div>

<script>
    document.querySelector('form').addEventListener('submit', async (e) => {
        e.preventDefault();
        
        const formData = new FormData(e.target);
        const response = await fetch('', {
            method: 'POST',
            body: formData
        });
        
        const data = await response.json();
        console.log(data);
        if (data.success) {
            const resultados = document.getElementById('resultados');
            resultados.innerHTML = `
                <h3>Certificados encontrados:</h3>
                <ul>
                    ${data.estructura.carpetas.map(carpeta => `<li>${carpeta}</li>`).join('')}
                </ul>
                <h3>Archivos encontrados:</h3>
                <ul>
                    ${data.estructura.archivos.map(archivo => `<li>${archivo}</li>`).join('')}
                </ul>
                <ul>
                    ${data.estructura.urls_archivos.map(url => `<li>${url.url}</li>`).join('')}
                </ul>
            `;
        } else {
            alert(data.error);
        }
    });
</script>